.benefit {
    text-align: center;
}

.benefits__image--wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__title {
    color: #292929;
    font-size: 27px;
    font-weight: bold;

}